<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | <%= user.name%></title>
    
    <% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js"></script>


</head>
<body>
    
    <% include ./partials/navbar.ejs %>
    <div class="container">
        <% if(message.length){ %>
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times; <!--  x button -->
                    </span>
                </button>
                <%= message%>
            </div>
        <% } %>
    
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <% if(user.orientation=='on') { %>
                    <img class="on-image" src="<%= user.picture %>" alt="">
                <% } else if(user.orientation=='off') { %>
                    <img class="off-image" src="<%= user.picture %>" alt="">
                <% } else { %>
                    <img class="grav-image" src="<%= user.picture %>" alt="">
                <% } %>                    
                <br/>
                <p>Name: <%= user.name %></p>
                <p>Email: <%= user.email %></p>
            
                <% if (user.address === "" || typeof user.address === 'undefined')  { %>
                    <p>Address: <span>No address specified.</span></p>
            
                <% } else { %>
            
                <p>Address: <%= user.address %></p>
            
                <% } %>
            
                <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>
            </div>
        </div>
    </div>

</body>
</html>
