<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Query</title>
    
        <% include ./partials/header.ejs %>

    </head>
    <body>

        <% include ./partials/navbar.ejs %>
        <div class="container mt-4">
        
            <h3 class="my-4"> Query Page </h3>
            <!-- <form action="/query" method="post">
                <div class="form-group">
                    <input type="text" class="form-control"  name="keywords" placeholder="Keywords separated by ';'">
                </div>
                <div class="form-group">                 
                    <input type="email" class="form-control"  name="selfEmail" placeholder="Your Email-ID">
                </div>
                <div id="emails">
                    <div class="form-group">  
                        <p> Select User </p>
                        <select class="options" name="studentEmail[]">
                            <option value="None">No User</option>
                        </select>               
                    </div>
                    <button class=""></button>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
            <button id="addBtn" class="btn btn-primary">Add more Students</button> -->
            <h2> Keywords: <%= query.keywords %> </h2>
            <p> Date: <%= query.dateUploaded %> </p>
            <p> Last Updated: <%= query.lastUpdated %> </p>
            <h3> Results mailed : </h3>
            <% results = query.result.split(' ') %>
            <% let i=1 %>
            <% results.forEach(result => { %>
                <a href="<%= result %>">Result: <%= i %></a>
                <% i++ %>
            <% }) %>
            <h3> Mentor: <%= query.mentor.name %> </h3>
            <h3> Students: 
                <% for(let i=0 ; i<query.students.length ; i++) { %>
                    <%= query.students[i].name %> 
                <% } %>  
            </h3> 
            <a href="/feedback/<%=query._id%>">
                Submit Feedback related to Query
            </a>           
        </div>

        <script src="/js/query.js"></script>

    </body>
</html>